:host {
  display: block;
}

.item {
  margin-bottom: 15px;
  cursor: pointer;
  padding: 0 10px;
}

.item h3{
  font-size: 20px;
  text-align: center;
}
.item p{
  font-size: 17px;
  font-weight: 500;
}
